<span id="titre">Equilibre</span>
<br>

<div class="dx-card responsive-paddings">    
    <div class="form">

        <div class="dx-fieldset">
     
          <div class="dx-field">
            <div class="dx-field-label">Email :</div>
      <dx-text-box class="dx-field-value" value="" id="mail" >
            </dx-text-box>
          </div>
    
        </div>
      </div>




   
<div id="button"> 
      <dx-button  type="success" [width]="140"  text="Envoyer" (onClick)="send()" ></dx-button>
    </div>

 </div>